<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.tracking.mapper.BasketsMapper">

    <insert id="autoInsertBaskets" parameterType="com.acorn.tracking.domain.Baskets">
        INSERT INTO Baskets (product_id, delivery_id, temperature, humidity, freshness)
        VALUES (#{product_id}, #{delivery_id}, #{temperature}, #{humidity}, #{freshness})
    </insert>

</mapper>